.footer {
    background-color: rgb(2, 11, 33);
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

.footer .social-links {
    margin-top: 10px;
}

.footer .social-links a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer .social-links a:hover {
    color: #ddd;
}
